/* Required: Clear floats after the columns */
  .multicolrow:after {
    content: "";
    display: table;
    clear: both;
  }

/*Optional: Color header boxes*/
  .multicolhead {
    background-color:#516db0;
    color: #FFFFFF;
    font-family: 'Fraunces', serif;
    /*font-weight: 200;*/
    font-size: 30px;
  }

.wordwrap { 
  white-space: pre-wrap;      /* CSS3 */   
    white-space: -moz-pre-wrap; /* Firefox */   
    white-space: -o-pre-wrap;   /* Opera 7 */    
    word-wrap: break-word;      /* IE */
}

.multicolcol {
  min-height: 1px;
}
